<!DOCTYPE html>
<html>
<head>
  <title>Hyperaccelerated Penguins</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="content">
  <%= link_to root_url do %>
    <h1 class="blog_title">Hyperaccelerated Penguins</h1>
  <% end %>

  <%= yield %>
</section>
</body>
</html>
